{% extends 'app/base.html' %}

{% load static %}

{% block content %}
    <div class="banner">       
      <video class="video" autoplay loop muted center>
        <source src="{% static 'app/bg_video.mp4' %}">
    </video>
         <div class="contenedor">
        <h1 class="banner__titulo">RESTAURANTE SIGLO XXI</h1>
        <p class="banner__txt">Una cocina familiar</p>
        </div>
    </div>
   
    <main class="main">
        
             <section class="info">
                 <div class="contenedor">
          <article class="info__columna">
            <img src="{% static 'app/img/1.jpg' %}" alt="" class="info__img">
            <h2 class="info__titulo">Nuestra Casa</h2>
            <p class="info__txt">Nustra casa lleva varios años entregando el placer y el gusto de la buena comida,
                lo cual vas a disfrutar con nuestros postres y platos de primera calidad.</p>
          </article>
          <article class="info__columna">
            <img src="{% static 'app/img/Reinitala plancha-1-600x600.jpg' %}" alt="" class="info__img">
            <h2 class="info__titulo">Nuestros platos</h2>
            <p class="info__txt">La ESPECIALIDAD DE LA CASA  nuestros queridos platos con la mejor y preparación de nuestros Chef,
                mostrando el placer de nuestra comida y casa.</p>
          </article>
          <article class="info__columna">
            <img src="{% static 'app/img/28525115_ajNCgD2tsjEn4Vb-eUgVUavMFBoC70enjRNKFYcMG-0.jpg' %}" alt="" class="info__img">
            <h2 class="info__titulo">Nuestra Vista</h2>
            <p class="info__txt">La vista de nuestro restaurante, es especial y preciosa con una gran vista al mar
                que te llevara a relajarte y sentirte mucho más agusto.</p>
          </article>
            </div>
          </section>
                     
          <section class="platos">
              <div class="contenedor">
              <h2 class="platos__titulo">Nuestros Menus Ejecutivos</h2>
              <p class="platos__txt">Nuestros menus más descatables para nuestros ejecutivos.
                Esto mostrando los placeres que se pueden variedades de nuestros menus</p> 
                <div class="platos__columna">
                  <img src="{% static 'app/img/carne mechada.jpg' %}" alt="" class="platos__img">
                  <h3>Plato 1</h3>
                </div>
                <div class="platos__columna">
                  <img src="{% static 'app/img/RESTAURANT-DONDE-JL_BIFE-VACUNO-A-LO-POBRE-600x600.jpg' %}" alt=""  class="platos__img">
                  <h3>Plato 2</h3>
                </div>
                <div class="platos__columna">
                  <img src="{% static 'app/img/RESTAURANT-DONDE-JL_BIFE-DE-VACUNO-CON-ENSALADA-600x600.jpg' %}" alt=""  class="platos__img">
                    <h3>Plato 3</h3>
                </div>
                <div class="platos__columna">
                  <img src="{% static 'app/img/Pastel de choco.jpg' %}" alt=""  class="platos__img">
                  <h3>Plato 4</h3>
                </div>
                
            </section>
            <section class="mapa">
                  <div class="contenedor">
                <div class="mapa__iframe">
                     <h3>¿DONDE ESTAMOS?</h3>
                <p>Estamos en viña del mar, en playa Acapulco, 8 norte</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3345.6033399579233!2d-71.55822888464886!3d-33.01423168264307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689e0a2e6afa67d%3A0xf9bcb835a3c4ee6!2sTierra%20de%20Fuego!5e0!3m2!1ses!2scl!4v1662323636846!5m2!1ses!2scl" width="90%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>   
                </div>
                 </div>
            </section> 
    </main>
    

{% endblock %}
