.table-admin {
    position: relative;
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  
    .ui.label {
      margin: 0;
      font-size: 20px;
      position: absolute;
      top: 30px;
    }
  
    svg {
      height: 200px;
      width: 200px;
  
      &.busy {
        fill: #1104c9e7;
      }
      &.pending {
        fill: #f50606bd;
      }
      &.pending-payment {
        fill: #008000;
      }
    }
  }
  